# Common
# MutableComponent
public-f net.minecraft.network.chat.MutableComponent
protected net.minecraft.network.chat.MutableComponent <init>(Lnet/minecraft/network/chat/ComponentContents;Ljava/util/List;Lnet/minecraft/network/chat/Style;)V
# Style
public net.minecraft.network.chat.Style <init>(Lnet/minecraft/network/chat/TextColor;Ljava/lang/Integer;Ljava/lang/Boolean;Ljava/lang/Boolean;Ljava/lang/Boolean;Ljava/lang/Boolean;Ljava/lang/Boolean;Lnet/minecraft/network/chat/ClickEvent;Lnet/minecraft/network/chat/HoverEvent;Ljava/lang/String;Lnet/minecraft/network/chat/FontDescription;)V
public net.minecraft.network.chat.Style bold
public net.minecraft.network.chat.Style italic
public net.minecraft.network.chat.Style underlined
public net.minecraft.network.chat.Style strikethrough
public net.minecraft.network.chat.Style obfuscated
public net.minecraft.network.chat.Style font

public net.minecraft.client.gui.GuiGraphicsExtractor$ScissorStack

# MinecraftServer
public net.minecraft.server.MinecraftServer storageSource
public net.minecraft.world.level.storage.LevelStorageSource$LevelStorageAccess levelDirectory